<div class="row home3 text-center">
  <a href="#/" ng-class="{btnSelected:isActive('')==true, btnBlue:isActive('')==false }">LOTTERY 999</a>
  <a href="#/99" ng-class="{btnSelected:isActive('99')==true, btnBlue:isActive('99')==false }">LOTTERY 99</a>
  <a href="#/9"  ng-class="{btnSelected:isActive('9')==true, btnBlue:isActive('9')==false }">LOTTERY 9</a>
  <a href="#/best-winner"  ng-class="{btnSelected:isActive('best-winner')==true, btnBlue:isActive('best-winner')==false }">BETS/WINNER</a>
  <div style="clear:both;"></div>
</div>
