<!-- Modal -->
<div class="modal fade" id="recentN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div ng-hide="recent">
          Loading...
        </div>

        <table ng-show="recent" class="table table-hover table-striped">
        <tr>
          <td>
            <b>Winning Number</b>
          </td>
          <td>
            <b>Block Number</b>
          </td>
        </tr>

        <tr ng-repeat="i in recent">
          <td>
            <span ng-show="isActive('9') || isActive('')">{{i.nonce_last_1_digit}}</span>
            <span ng-show="isActive('99')">{{i.nonce_last_2_digits}}</span>
            <span ng-show="isActive('999')">{{i.nonce_last_3_digits}}</span>
          </td>
          <td>
            {{i.height}}
          </td>

        </tr>
        </table>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="coldN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div ng-hide="cold">
          Loading...
        </div>

        <table ng-show="cold" class="table table-hover table-striped">
        <tr>
          <td>
            <b>Cold Number</b>
          </td>
          <td>
            <b>Since Block</b>
          </td>
        </tr>

        <tr ng-repeat="i in cold.game_09" ng-show="isActive('9') || isActive('')">
          <td>
            {{i.late_number}}
          </td>
          <td>
            {{i.block_age}}
          </td>
        </tr>

        <tr ng-repeat="i in cold.game_099" ng-show="isActive('99')">
          <td>
            {{i.late_number}}
          </td>
          <td>
            {{i.block_age}}
          </td>
        </tr>
        </table>

      </div>

    </div>
  </div>
</div>



<div class="row home2 text-center">
  <a href data-toggle="modal" data-target="#recentN" class="btn-dark-border">RECENT NUMBERS</a>
  <a href data-toggle="modal" data-target="#coldN" class="btn-dark-border" ng-show="isActive('99') || isActive('9') || isActive('')">COLD NUMBERS</a>

  <!--
  <a href data-toggle="modal" data-target="#recentN" class="btn-dark-border" ng-show="isActive('9') || isActive('')">RECENT NUMBERS 9</a>
  <a href data-toggle="modal" data-target="#recentN" class="btn-dark-border" ng-show="isActive('99')">RECENT NUMBERS 99</a>
  <a href data-toggle="modal" data-target="#recentN" class="btn-dark-border" ng-show="isActive('999')">RECENT NUMBERS 999</a>
  <a href data-toggle="modal" data-target="#cold9" class="btn-dark-border" ng-show="isActive('9') || isActive('')">COLD NUMBERS 9</a>
  <a href data-toggle="modal" data-target="#cold99" class="btn-dark-border" ng-show="isActive('99')">COLD NUMBERS 99</a>
  -->






</div>
