
<!-- Modal -->
<div class="modal fade" id="ex99" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div> -->
      <div class="modal-body">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <img src="images/popup/verify-game-99.png" alt="" style="max-width:100%;" />
      </div>

    </div>
  </div>
</div>

<div class="row row-same-height home1">

  <div class="col-md-4 col-sm-4" ng-show="isActive('best-winners')"></div>
  <div class="col-md-4 col-sm-4 text-center item" ng-hide="isActive('best-winners')">
    <div class="box-header">
      <img src="images/block-winning-numbers-icon.png" alt="Block Winning Numbers" />
      <h1 class="main">
        Block Winning Numbers
      </h1>
    </div>
    <p>
      The last
      <span ng-show="isActive('9') || isActive('')"> digit </span>
      <span ng-show="isActive('99')">2 digits </span>
      <span ng-show="isActive('999')">3 digits </span>
      of the Block Nonce

      <i class="fa fa-question-circle-o" title="Nonce: the random number that generates a new Block." onmouseenter="$(this).tooltip('show')"></i>
    </p>
    <span>
      <a href class="popup btn-dark" data-toggle="modal" data-target="#ex99">EXAMPLE</a>
    </span>
  </div>

  <div class="col-md-4 col-sm-4 text-center item">
    <div class="box-header">
      <img src="images/next-drawing-icon.png" alt="Next Drawing" />
      <h1 class="main">
        Next Drawing
      </h1>
    </div>
      <h1 ng-show="isLoading">Loading...</h1>
      <h1 ng-hide="isLoading">Block {{nextBlock}}</h1>
  </div>

  <div class="col-md-4 col-sm-4" ng-show="isActive('best-winners')"></div>
  <div class="col-md-4 col-sm-4 text-center item" ng-hide="isActive('best-winners')">
    <div class="box-header">
      <img src="images/latest-winning-number-icon.png" alt="Latest Winning Number" />
      <h1 class="main">
        Latest Winning Number
      </h1>
    </div>
    <h1>
      <!--  -->
      <span ng-show="isLoading">Loading...</span>
      <!--
      <span ng-hide="isLoading">{{lastWinN}}</span>
      -->
      <span ng-show="isActive('9') || isActive('')"> {{lastWinN[2]}} </span>
      <span ng-show="isActive('99')"> {{lastWinN[1]}}{{lastWinN[2]}} </span>
      <span ng-show="isActive('999')">{{lastWinN}}</span>

    </h1>
    <p ng-hide="isLoading">
      Block: {{bwData.lastblock.height}} Age: {{bwData.lastblock.age}}
    </p>
  </div>
</div>
