<div class="row row-same-height home1">
  <div class="col-md-4 col-sm-4 text-center item">
    <span ng-show="gameInfo1">
      <div>
        <img src="images/h1.png" alt="" />
      </div>
      <p>
        The last 3 digitsof the Block Nonce
        <i class="fa fa-question-circle-o" title="Nonce: the random number that generates a new Block." onmouseenter="$(this).tooltip('show')"></i>
      </p>
      <a href="#" class="btn-dark">EXAMPLE</a>
    </span>

  </div>
  <div class="col-md-4 col-sm-4 text-center item">
      <div>
        <img src="images/h2.png" alt="" />
      </div>
      <h1>Block {{nextBlock}}</h1>
  </div>
  <div class="col-md-4 col-sm-4 text-center item">
    <span ng-show="gameInfo2">
      <div>
        <img src="images/h3.png" alt="" />
      </div>
      <h1>
        <!--  -->
        {{lastWinN}}
      </h1>
      <p>
        Block: {{bwData.lastblock.height}} Age: {{bwData.lastblock.age}}
      </p>
    </span>
  </div>
</div>
