<div class="row home3 text-center">
  <a href="#/"  ng-class="{btnSelected:isActive('')==true, btnBlue:isActive('')==false }">LOTTERY 9</a>
  <a href="#/99" ng-class="{btnSelected:isActive('99')==true, btnBlue:isActive('99')==false }">LOTTERY 99</a>
  <a href="#/999" ng-class="{btnSelected:isActive('999')==true, btnBlue:isActive('99')==false }">LOTTERY 999</a>
  <a href="#/best-winners"  ng-class="{btnSelected:isActive('best-winners')==true, btnBlue:isActive('best-winners')==false }">BETS/WINNERS</a>
  <div style="clear:both;"></div>
</div>
