<div id="greenbox">



  <div class="trapezoidal left rotate1">
    STRAIGHT
  </div>

  <div class="trapezoidal right rotate2">
      Win up to 0.09  <i class="fa fa-bitcoin"></i>
  </div>


  <div class="trapezoidal top">
    STRAIGTH WIN: 9X
  </div>

  <div class="game-box">
    <div class="row text">
      <div class="col-md-12 text-center">
        Select and click any number from 0 to 9
        to get Bet Address
      </div>
    </div>
    <div class="row btn-box">
      <div class="col-md-12 text-center">



        <span style="cursor:pointer;" ng-click="set9str(bitRange9)" class="btn-number hidden-xs" id="display-range1a">{{bitRange9}}</span>


        <span class="visible-xs">
          <a href class="btn-plus-minus " ng-click="plus()">
            <i class="fa fa-minus"></i>
          </a>
          <span class="btn-number" id="display-range1b">{{bitRange9}}</span>
          <a href class="btn-plus-minus " ng-click="plus()">
            <i class="fa fa-plus"></i>
          </a>
        </span>

      </div>
    </div>


    <div class="row">
      <div class="col-xs-1">
        <a href class="btn-plus-minus hidden-xs" ng-click="minus()">
          <i class="fa fa-minus"></i>
        </a>
      </div>
      <div class="col-xs-1 hidden-xs">
        <span href="#" class="btn-number-green" id="display-range2">{{bitRange9}}</span>
      </div>
      <div class="col-xs-9">
        <input label="" class="form-control range" type="range" min="0" max="9" step="1" value="{{bitRange9}}" ng-model="bitRange9" >
      </div>
      <div class="col-xs-1">
        <a href class="btn-plus-minus hidden-xs" ng-click="plus()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>


    <div class="row text">
      <div class="col-sm-6 text-center green">
        Minimum Bet: 0.001  <i class="fa fa-bitcoin"></i>
      </div>
      <div class="col-sm-6 text-center ">
        Maximum Bet: 0.01 <i class="fa fa-bitcoin"></i>
      </div>
    </div>
    <div class="row text">
      <div class="col-md-12 text-center">
        Multiple Bets now available! <i class="fa fa-question-circle-o" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Put all your bets in one transaction to bet on different numbers on the same Block Drawing... and save transaction fees!"></i>
      </div>
    </div>

  </div>


</div>
