<div id="greenbox">



  <div class="trapezoidal left rotate1">
    STRAIGHT
  </div>

  <div class="trapezoidal right rotate2">
    WIN: 1.25 <i class="fa fa-bitcoin"></i>
  </div>


  <div class="trapezoidal top">
    TICKET PRICE : 0.0025 <i class="fa fa-bitcoin"></i>
  </div>

  <div class="game-box">
    <div class="row text">
      <div class="col-md-12 text-center">
        Select Any 3 Digits
      </div>
    </div>
    <div class="row btn-box">
      <div class="col-md-4 col-sm-4 text-center" data-ng-model="selectedOption">
          <select ng-change="set999price()" class="select-number" data-ng-options="o.name for o in options" data-ng-model="selectedOption1" ng-init="init999select()" id="s1"></select>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
          <select ng-change="set999price()" class="select-number" data-ng-options="o.name for o in options" data-ng-model="selectedOption2" ng-init="init999select()" id="s2"></select>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
          <select ng-change="set999price()" class="select-number" data-ng-options="o.name for o in options" data-ng-model="selectedOption3" ng-init="init999select()" id="s3"></select>
      </div>
    </div>



    <div class="row text">
      <div class="col-md-12 text-center">
        Select Wager Type to get Bet Address
      </div>
    </div>
    <div class="row btn-box">
      <div class="col-md-4 col-sm-4 text-center">
          <a href class="btn-wager" ng-click="set999str()">
            <span class="one">
              STRAIGHT <i class="fa fa-question-circle-o" title="Match the winning number drawn in their exact order." onmouseenter="$(this).tooltip('show')"></i>


            </span>
            <span class="two"><b>
              1.25 <i class="fa fa-bitcoin"></i>
            </b></span>
          </a>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <a href class="btn-wager" ng-click="set999box()">
          <span class="one">
            BOX <i class="fa fa-question-circle-o" title="Match the winning number drawn in any order." onmouseenter="$(this).tooltip('show')"></i>
          </span>
          <span class="two"><b>
            {{boxPrice}}
            <i class="fa fa-bitcoin"></i>
          </b></span>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <a href class="btn-wager" ng-click="set999sum()">
          <span class="one">
            LUCKY SUM <i class="fa fa-question-circle-o" title="Win a prize if the sum of your numbers equals the sum of the numbers drawn." onmouseenter="$(this).tooltip('show')"></i>


          </span>
          <span class="two"><b>
            {{luckySumPrice}}
            <i class="fa fa-bitcoin"></i>
          </b></span>
        </a>
      </div>
    </div>

    <div class="row text">
      <div class="col-md-12 text-center ">
        Multiple Bets now available!
        <i class="fa fa-question-circle-o" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Put all your bets in one transaction to bet on different numbers on the same Block Drawing... and save transaction fees!"></i>
      </div>
    </div>
  </div>


</div>
