<div class="container text-center">

  <br>
  <br>
  <span class="btn-green-pf1">
    CONTACT US
  </span>
  <br>
  <br>

  <p>
    Please write us on:
  </p>
  <p>
    <a href="mailto:support@blockchainlotteries.com">support@blockchainlotteries.com</a>
  </p>
  <p>
    Or write us on our official thread on
    <a href="https://bitcointalk.org/index.php?topic=1746610.msg17463153">Bitcointalk.org</a>
  </p>

</div>


<br><br><br><br>
<div class="text-center">
  <a href="#/" class="back-to-the-game">
    <i class="fa fa-arrow-circle-left"></i>
    <br>
    BACK TO THE GAME!
  </a>
</div>

<br><br><br>
