<div class="container text-center">

  <div class="row">
    <div class="text-center col-md-3"></div>
    <div class="text-center col-md-6">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/rKrKwdYGFUo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-center col-md-3"></div>
  </div>

  <br>
  <br>
  <span class="btn-green-pf1">
    FREQUENTLY ASKED QUESTIONS
  </span>
  <br>
  <br>

  <div class="faq js-faq">
    <div class="q text-center" data-answer-id="a-1">
      <i class="fa fa-plus-circle pull-left"></i> WHAT IS THE NONCE?
    </div>
    <div class="a" id="a-1">
      The Nonce number s the unique, unpreditable, 100% random number used by miners o generate new valid Block
      of the Bitcoin Blockchain.
    </div>
  </div>


  <div class="faq js-faq">
    <div class="q text-center" data-answer-id="a-2">
      <i class="fa fa-plus-circle pull-left"></i> WHAT IS THE NONCE?
    </div>
    <div class="a" id="a-2">
      The Nonce number s the unique, unpreditable, 100% random number used by miners o generate new valid Block
      of the Bitcoin Blockchain.
    </div>
  </div>


  <div class="faq js-faq">
    <div class="q text-center" data-answer-id="a-3">
      <i class="fa fa-plus-circle pull-left"></i> WHAT IS THE NONCE?
    </div>
    <div class="a" id="a-3">
      The Nonce number s the unique, unpreditable, 100% random number used by miners o generate new valid Block
      of the Bitcoin Blockchain.
    </div>
  </div>

  <div class="faq js-faq">
    <div class="q text-center" data-answer-id="a-4">
      <i class="fa fa-plus-circle pull-left"></i> WHAT IS THE NONCE?
    </div>
    <div class="a" id="a-4">
      The Nonce number s the unique, unpreditable, 100% random number used by miners o generate new valid Block
      of the Bitcoin Blockchain.
    </div>
  </div>


</div>


<br><br>
<div class="text-center">
  <a href="#/" class="back-to-the-game">
    <i class="fa fa-arrow-circle-left"></i>
    <br>
    BACK TO THE GAME!
  </a>
</div>

<br><br><br>
