<div class="container text-center">

  <div>
    <a href="#" class="btn-green-pf1">
      PROVABLY FAIR
    </a>
  </div>

  <div>
    <a href="#" class="link-green-pf1">
      How to verify your bet result?
    </a>
  </div>

  <p>
    1. Wait until your Bet Transaction gets 1 Confirmation;
  </p>
  <p>
    2. Click on the Block that includes your Bet Transaction
    and verify the Block Nonce number last 3 digits (Lottery 999)
    or last 2 digits  (Lottery 99) or last digit (Lottery 9) ...
    <br>
    ... these re the WINNING NUMBERS!

  </p>

  <div class="bet-ex">
    <div class="item text-center">
      Example bet of
      <a href="#">
        LOTTERY 999
      </a>
    </div>
    <div class="item text-center">
      Example bet of
      <a href="#">
        LOTTERY 99
      </a>
    </div>
    <div class="item text-center">
      Example bet of
      <a href="#">
        LOTTERY 9
      </a>
    </div>

    <div style="clear:both;"></div>
  </div>


  <a href="#/" class="back-to-the-game">
    <i class="fa fa-arrow-circle-left"></i>
    <br>
    BACK TO THE GAME!
  </a>

  <br><br><br>

</div>
